jupyterlab
pandas
matplotlib
seaborn
sklearn
pillow

# For Jupyter code formatting - https://github.com/ryantam626/jupyterlab_code_formatter
autopep8
jupyterlab_code_formatter

# Instructions to setup the JupyterLab extensions in
# https://github.com/fau-masters-collected-works-cgarbin/cap5768-introduction-to-data-science/wiki/Minimalist-JupyterLab-setup-with-a-handful-of-extensions

