matplotlib==3.6.*
opencv-python==4.6.*
pandas==1.5.*
pandas_profiling==3.5.*
pillow==9.3.*
scikit-learn==1.2.*
scikit-image==0.19.*
seaborn==0.12.*

jupyterlab==3.5.*
ipywidgets==8.0.*

# Also install Graphviz itself - see https://www.graphviz.org/
graphviz==0.20

# For Jupyter code formatting - https://github.com/ryantam626/jupyterlab_code_formatter
# Can use the latest versions
autopep8
jupyterlab_code_formatter

# Instructions to setup the JupyterLab extensions in
# https://github.com/fau-masters-collected-works-cgarbin/cap5768-introduction-to-data-science/wiki/Minimalist-JupyterLab-setup-with-a-handful-of-extensions
